/MenuSystemByJam/.vs
/MenuSystemByJam/*.sln
/MenuSystemByJam/DerivedDataCache/
/MenuSystemByJam/Intermediate/
/MenuSystemByJam/Saved/
/MenuSystemByJam/Binaries/
/MenuSystemByJam/Build/
/MenuSystemByJam/Content/Levels/*.uasset